.nav-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: aqua;
 
}
.nav-ul li{
display:inline-block;
margin: 10px;
padding:10px;
text-decoration: none;
}
.nav-ul li a{
  text-decoration: none;
  color: white;
}
.footer{
  position: absolute;
  bottom: 0;
  background-color: aqua;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}
.footer p{
  margin-right: 10px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.register{
  /* height: 100vh; */
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
    /* align-content: center; */
    margin-top: 10%;
    background-color: white;
}
.input-container{
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}
.input{
  display: block;
    width: 350px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    /* text-align: center; */
}
.button{
  padding: 5px;
  border-radius: 15px;
  width: 5%;
  cursor: pointer;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
